.title-dashboard {
    padding: 20px;
}

div.div-table {
    padding: 50px 70px;
}

table.table.table-bordered {
    font-family: sans-serif;
}

.data-link {
    margin-left: 30px;
}

.data-link > span {
    display: inline-block;
}

.data-link a {
    font-size: 18px;
}

.data-link > span {
    margin-right: 20px;
}

div.navbar-text>span {
    cursor: pointer;
}

div.navbar-text>i {
    display: inline-block;
    margin: auto 3px;
    cursor: pointer !important;
}

div.navbar-text>span.lang-checked {
    border-bottom: 2px solid darkblue;
}

div.navbar-text>span>a {
    color: grey;
}
